extends ../node_modules/jade-bootstrap/layouts/starter

append styles
	// Custom styles for this template
	link(href='../css/sticky-footer.css', rel='stylesheet')

block body
	+navbar-fixed("CS Searcher","navbar","inverse")
		+nav_item("/","active") Home
		+nav_item("/about") About
		+nav_item("/contact") Contact
	.container
		.starter-template
			h1= title
			h3 Welcome to #{title}
			h4 #{readme}
			.container(style="padding-top: 18px; width: 100%")
				if alertContent
					form(action="/", method="post")
						input(type="text", name="keyword" maxlength="256" style="height: auto; width: 80%;" value=lastKeyword)
						input(type="submit" value="Search" class="btn btn-primary")
				else
					form(action="/", method="post")
						.container(style="padding-top: 18px; width: 100%")
							input(type="text", name="keyword" maxlength="256" style="height: auto; width: 100%; position: relative;")
						.container(style="padding-top: 18px; width: 100%")
							input(type="submit" value="Search" class="btn btn-primary")
		if alertContent
			+alert-success(alertContent)
			+alert-info("Each card below is a person with university information as well as fellowships and fundings. At the right of university names are some ranks according to USNews.")
			if queryResult[0]["info"] == "tooMany"
				+alert-warning("Too mane entries, showing only first <strong>" + queryResult[0]["len"] + "</strong> ones.")
		if queryResult
			-for(var item in queryResult)
				if item > 0
					+panel-info(queryResult[item]["name"])
						//-var titles=["rank", "univ", "name", "acm_fellow", "ieee_fellow"]
						if queryResult[item]["ieee_fellow"] == "1"
							+label-primary("IEEE Fellow")
						if queryResult[item]["acm_fellow"] == "1"
							+label-primary("ACM Fellow")
						if queryResult[item]["funding"] == "1"
							+label-success("Funding")
						form(action="/", name="formUniv" + item, method="post")
							input(type="hidden", name="keyword", value=queryResult[item]["univ"])
							strong
								a(href="javascript:document.formUniv" + item + ".submit();")  #{queryResult[item]["univ"]}
								&nbsp;
							+label-warning("CS " + queryResult[item]["rank"])
							if queryResult[item]["Artificial Intelligence"]
								+label-info("AI " + queryResult[item]["Artificial Intelligence"])
							if queryResult[item]["Programming Language"]
								+label-info("PL " + queryResult[item]["Programming Language"])
							if queryResult[item]["System"]
								+label-info( "System " + queryResult[item]["System"])
							if queryResult[item]["Theory"]
								+label-info( "Theory " + queryResult[item]["Theory"])
						//ul
						//	li CS Rank #{queryResult[item]["rank"]}
						//	if queryResult[item]["Artificial Intelligence"]
						//		li= "AI Rank " + queryResult[item]["Artificial Intelligence"]
						//	if queryResult[item]["Programming Language"]
						//		li= "PL Rank " + queryResult[item]["Programming Language"]
						//	if queryResult[item]["System"]
						//		li= "System Rank " + queryResult[item]["System"]
						//	if queryResult[item]["Theory"]
						//		li= "Theory Rank " + queryResult[item]["Theory"]
						+icon-primary("search")
						a(href="https://www.bing.com/search?q=" + queryResult[item]["name"] + "%20" + queryResult[item]["univ"]) Search in Bing
	footer.footer
		.container
			p.text-muted Computer Network 2016, CS Department, Peking University
