extends ../node_modules/jade-bootstrap/layouts/starter

append styles
	// Custom styles for this template
	link(href='../css/sticky-footer.css', rel='stylesheet')

block body
	+navbar-fixed("CS Searcher","navbar","inverse")
		+nav_item("/","active") Home
		+nav_item("/about") About
		+nav_item("/contact") Contact
	.container
		.starter-template
			h1= title
			h3 Welcome to #{title}
			h4 #{readme}
			form(action="/", method="post")
				input(type="text", name="keyword")
				input(type="submit")
		if alertContent
			+alert-success(alertContent)
		if queryResult
			-for(var item in queryResult)
				+panel-info(queryResult[item]["name"])
					//-var titles=["rank", "univ", "name", "acm_fellow", "ieee_fellow"]
					if queryResult[item]["ieee_fellow"] == "1"
						+label-primary("IEEE Fellow")
					if queryResult[item]["acm_fellow"] == "1"
						+label-primary("ACM Fellow")
					if queryResult[item]["funding"] == "1"
						+label-success("Funding")
					h5 #{queryResult[item]["univ"]} (Rank #{queryResult[item]["rank"]})
	footer.footer
		.container
			p.text-muted Computer Network 2016, CS Department, Peking University
